<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>USER INFORMATION!!</h1>
    <table>
        <tr class="hea">
            <td>ID</td>
            <td>USERNAME</td>
            <td>E-MAIL</td>
            <td>PASSWORD</td>
        </tr>
        <% for(data of datas){ %>
            <tr>
                <td><%= data.id %></td>
                <td><%= data.username %></td>
                <td><%= data.email %></td>
                <td><%= data.password %></td>
            </tr>
        <%} %>
    </table>
</body>
</html>